@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    max-width: 1600px;
    margin: 0 auto;
}

/* reuseable style */

.row {
    width: 85%;
    margin: 0 auto;
}

.primary-color {
    color: #FF5400;
}

.section {
    margin-top: 100px;
}

.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.section-sub-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 30px;
}

.description {
    color: #131318b3;
    line-height: 26px;
    margin: 25px 0;
}

.btn {
    background-color: #FF5400;
    color: #fff;
    font-weight: 800;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
}

.hover-effect:hover {
    box-shadow: 2px 2px 4px #2f2f2f;
    cursor: pointer;
}

.align-content {
    text-align: center;
    width: 55%;
    margin: 0 auto;
}

/* start header related section */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo .logo-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.navigation-item>ul {
    display: flex;
}

.navigation-item>ul li {
    list-style-type: none;
    margin-left: 45px;
}

.navigation-item>ul li:first-child {
    margin-left: 0;
}

.navigation-item>ul li a {
    color: #424247;
    font-size: 18px;
}

.navigation .bars-icon {
    display: none;
}

.navigation .bars-icon .fa-bars {
    font-size: 30px;
}

.banner {
    text-align: center;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.banner-overlay {
    background: linear-gradient(rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00));
    border-radius: 16px;
}

.banner-container {
    width: 75%;
    margin: 0 auto;
    padding: 105px;
}

.banner-container .banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-container .banner-description {
    color: #FFF;
    line-height: 26px;
    margin: 25px 0 50px;
}

.info-search {
    border-radius: 10px;
    background: #ffffff4d;
    display: flex;
    gap: 25px;
    padding: 10px;
}

.info-search .info-search-item {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}

.info-search input::placeholder {
    color: #13131880;
}

.info-search .select-ext-color {
    color: #13131880;
}

.info-search .info-search-item:last-child {
    background-color: #FF5400;
    color: #fff;
}

/* end header related section */
/* start main related section */

/* start packages section */

.packages-container {
    display: flex;
    gap: 50px;
}

.packages-content {
    width: 50%;
}

.packages-content .dec-list {
    padding-left: 20px;
}

.packages-content .dec-list li {
    color: #131318b3;
}

.packages-image img {
    width: 100%;
}

/* end packages section */
/* start destination section */

.destination-image {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.image-item1 {
    grid-column: 1/ span 12;
}

.image-item2 {
    grid-column: 13/ span 12;
}

.image-item3 {
    grid-column: 1/ span 8;
}

.image-item4 {
    grid-column: 9/ span 10;
}

.image-item5 {
    grid-column: 19/ span 6;
}

.image-item6 {
    grid-column: 1/ span 10;
}

.image-item7 {
    grid-column: 11/ span 14;
}

.destination-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.destination-image div {
    position: relative;
    width: 100%;
}

.destination-image div .image-overlay {
    color: #FFF;
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end destination section */
/* start choose section */

.choose-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.choose-container .ext-style {
    width: 100%;
    padding: 30px;
}

.choose-container .ext-style i {
    font-size: 50px;
}

.choose-container .hotels {
    grid-column: 1/ span 6;
    border-radius: 16px;
    border: 1px solid #fbb56333;
    background: #fbb5630d;
}

.choose-container .service {
    grid-column: 7/ span 6;
    border-radius: 16px;
    border: 1px solid #29cef633;
    background: #29cef60d;
}

.choose-container .Guarantee {
    grid-column: 4/ span 6;
    border-radius: 16px;
    border: 1px solid #e9444433;
    background: #e944440d;
}

/* end choose section */
/* start deals section */

.deals-container .deals-banner {
    background-image: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 0;
    padding: 55px;
    border-radius: 16px;
}

.deals-content {
    width: 50%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: #ffffffcc;
    backdrop-filter: blur(2px);
    padding: 50px;
}

.deals-banner .deals-content {
    position: relative;
    top: 0;
    right: -50%;
}

.deals-content .deals-info {
    display: flex;
    margin-bottom: 25px;
}

.deals-content .deals-info li {
    list-style-type: none;
    color: #5A5A5D;
    margin-left: 25px;
}

.deals-content .deals-info li:first-child {
    margin-left: 0;
}

.deals-content .deals-info li i {
    margin-right: 10px;
}

.deals-container .ext-deals {
    background-image: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px;
}

.ext-margin {
    margin-bottom: 30px;
}

.more-pack {
    text-align: center;
}

/* end deals section */
/* start simple place section */

.simple-container {
    display: flex;
    gap: 50px;
}

.simple-content {
    width: 50%;
}

.simple-content .simple-list {
    color: #131318;
    font-weight: 700;
    line-height: 26px;
    margin: 0 0 45px 20px;
}

.bangladesh-moment {
    position: relative;
    text-align: center;
}

.bangladesh-moment img {
    width: 100%;
}

.bangladesh-moment .simple-overlay {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* end simple place section */
/* start subscribe section */

.subscribe-container {
    display: flex;
    justify-content: space-between;
}

.subscribe-container .newsletter {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.subscribe-container .newsletter form {
    padding-top: 40px;
    border-top: 1px solid #1313181a;
}

.subscribe-container .newsletter .subscribe-info {
    display: block;
    width: 100%;
    background-color: #1313180d;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.subscribe-container .newsletter .subscribe-info:last-child {
    background-color: #FF5400;
    color: #fff;
    font-weight: 800;
}

.subscribe-container .subscribe-image {
    position: relative;
}

.subscribe-container .subscribe-image img {
    width: 100%;
    height: 100%;
}

.subscribe-container .subscribe-image .subscribe-discount {
    background-color: #FF5400;
    color: #fff;
    text-align: center;
    width: 250px;
    border-radius: 16px;
    padding: 20px;
    position: absolute;
    bottom: 50px;
    right: 5px;
    transform: rotate(-25deg);
}

/* end subscribe section */

/* start sponsor section */

.sponsor-content {
    text-align: center;
}

.sponsor-container {
    display: flex;
    background-color: #ffe4e467;
    align-items: center;
    border: 2px solid #ffb4b4;
    padding: 30px;
    border-radius: 16px;
    margin-top: 20px;
    box-shadow: 2px 2px 4px #2f2f2f;
}
.sponsor-container div {
    width: 50%;
    height: 20%;
}
.sponsor-container div img {
    width: 100%;
    border-radius: 16px;
}
.sponsor-container .visa {
    padding: 30px;
    border-right: 1px solid #5a5a5d89;
}
.sponsor-container .airline {
    padding: 30px;
    border-radius: 16px;
}

/* end sponsor section */

/* end main related section */
/* start footer related section */

footer {
    background-color: #1313180d;
    text-align: center;
    padding: 110px;
}

.footer-container {
    width: 60%;
    margin: 0 auto;
}

.logo-part {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-container .share-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-container .share-list li {
    list-style-type: none;
    margin-left: 20px;
}

.footer-container .share-list li:first-child {
    margin-left: 0;
}

.footer-container .footer-description {
    border-top: 1px solid #1313181a;
    padding-top: 50px;
}
.footer-container .share-list li a {
    color: #131318;
}

/* end footer related section */